{% load i18n %}
{% load account %}
{% load staticfiles %}
{% include 'main/auth_header.html' %}

<div id="password_reset_div">
    <div id="p_set">
        {% if user.is_authenticated %}
        <p>근데 벌써 {{user.username}}계정으로 로그인 했는걸요?</p>
        {% endif %}
        <p>아 뭐 비밀번호 까먹을 수도 있죠.. 저도 가끔 그래요..^^</p>
        <p>가입하신 이메일 주소를 입력해주세요. 스팸함 꼭 확인하시구요.</p>
    </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <input name="email" type="email" placeholder="이메일">
        <button type="submit">초기화 이메일 전송</button>
    </form>
</div>
