{% load i18n %}
{% load staticfiles %}
{% include 'main/auth_header.html' %}

<div id="change_password_div">
    <h3 style="text-align:center; font-weight:100; margin:0px 0px 10px 0px;">비밀번호 변경</h3>
    <h5 style="text-align:center; font-weight:100; margin:0px 0px 30px 0px;">비밀번호를 변경하면 로그아웃 됩니다.</h5>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for error in form.oldpassword.errors %}
        <p class="form_error_p">{{ error | safe }}</p>
        {% endfor %}
        <input type="password" name="oldpassword" id="id_oldpassword" placeholder="현재 비밀번호" required>
        {% for error in form.password1.errors %}
        <p class="form_error_p">{{ error | safe }}</p>
        {% endfor %}
        <input type="password" name="password1" placeholder="새 비밀번호" required>
        {% for error in form.password2.errors %}
        <p class="form_error_p">{{ error | safe }}</p>
        {% endfor %}
        <input type="password" name="password2" placeholder="새 비밀번호 확인" required>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
