{% load staticfiles %}
{% load rank_record %}
<div id="summoner_comment_list_div">
    <div id="comment_write_div">
        <input name="summoner" type="hidden" value="{{summoner.id}}">
        {% if not user.is_authenticated %}
        <input name="password" type="password" placeholder="비밀번호"><br><br>
        {% endif %}
        <textarea id="comment_textarea" name="comment" placeholder="당신의 한 마디가 벌레 한 마리를 구제할 수 있을까요?" rows="5"></textarea>
        <button type="submit" id="submit_comment">작성</button>
    </div>
    <div id="comment_list_div">
        <span class="order_type selected" id="order_by_recent" onclick="comment_order_by_recent();">최신순</span>&nbsp;<span class="order_type" id="order_by_like" onclick="comment_order_by_like()">추천순</span>
    </div>
</div>

<script>
    function comment_order_by_recent(){
        $.ajax({
            type: "POST",
            url: '{% url 'comment_list' %}',
            data: { 'summoner': {{summoner.id}},
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'order_type' : 'recent'
                  },
            dataType: "json",

            success: function(response){
                    $('.comment').remove();
                    $('#order_by_recent').addClass('selected');
                    $('#order_by_like').removeClass('selected');
                    for(var i in response['comment_list']) {
                        $('#comment_list_div').append(response['comment_list'][i]);
                    }
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    };

    function comment_order_by_like(){
        $.ajax({
            type: "POST",
            url: '{% url 'comment_list' %}',
            data: { 'summoner': {{summoner.id}},
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'order_type' : 'like'
                  },
            dataType: "json",

            success: function(response){
                    $('.comment').remove();
                    $('#order_by_recent').removeClass('selected');
                    $('#order_by_like').addClass('selected');
                    for(var i in response['comment_list']) {
                        $('#comment_list_div').append(response['comment_list'][i]);
                    }
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    };

    function like_submit(method, like_type, comment_id){
        $.ajax({
            type: "POST",
            url: '{% url 'like_submit' %}',
            data: { 'comment_id': comment_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'like_type' : like_type,
                'method': method
            },
            dataType: "json",
            success: function(response){
                console.log(response);
                comment_id = parseInt(response['comment'])
                console.log(comment_id)
                $('#comment_' + comment_id + ' .like_count').text(response['like_count'])
                $('#comment_' + comment_id + ' .dislike_count').text(response['dislike_count'])

                if (response['method'] == 'cancel'){
                    $('#comment_' + comment_id + ' .like').removeClass('liked')
                    $('#comment_' + comment_id + ' .dislike').removeClass('disliked')
                    $('#comment_' + comment_id + ' .like').attr("onclick", "like_submit('submit', 'like', "+ comment_id +")")
                    $('#comment_' + comment_id + ' .dislike').attr("onclick", "like_submit('submit', 'dislike', "+ comment_id +")")
                }

                else if (response['type'] == 'like'){
                    $('#comment_' + comment_id + ' .like').addClass('liked')
                    $('#comment_' + comment_id + ' .like').attr("onclick", "like_submit('cancel', 'like', "+ comment_id +")")
                    $('#comment_' + comment_id + ' .dislike').removeClass('disliked')
                    $('#comment_' + comment_id + ' .dislike').attr("onclick", "like_submit('submit', 'dislike', "+ comment_id +")")
                }
                else if (response['type'] == 'dislike'){
                    $('#comment_' + comment_id + ' .like').removeClass('liked')
                    $('#comment_' + comment_id + ' .like').attr("onclick", "like_submit('submit', 'like', "+ comment_id +")")
                    $('#comment_' + comment_id + ' .dislike').addClass('disliked')
                    $('#comment_' + comment_id + ' .dislike').attr("onclick", "like_submit('cancel', 'dislike', "+ comment_id +")")
                }
            },
            error: function(request, status, error){
                alert('실패했습니다.');
            },
        });
    };

    $('#submit_comment').click(function (e) {

        if ($('input[name=password]').val() == ''){
            alert('비밀번호를 입력해주세요');
            return;
        }

        if ($('textarea[name=comment]').val() == ''){
            alert('댓글을 입력해주세요');
            return;
        }

        $.ajax({
            type: "POST",
            url: '{% url 'comment_write' %}',
            data: { 'summoner': {{summoner.id}},
                    {% if not user.is_authenticated %}
                    'password' : $('input[name=password]').val(),
                    {% endif %}
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'comment' : $('textarea[name=comment]').val()
                  },
            dataType: "json",

            success: function(response){
                    alert('작성완료');
                    $('input[name=password]').val('');
                    $('textarea[name=comment]').val('');
                    comment_order_by_recent();
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    });

    comment_order_by_recent();
</script>