{% load staticfiles %}
{% load rank_record %}
{% include 'main/detail_header.html' %}


{% include 'search/comment.html' %}
{% include 'search/report.html' %}

<div id="summoner_info_div">
    <img id="summoner_profile_pic" src="http://ddragon.leagueoflegends.com/cdn/9.17.1/img/profileicon/{{summoner.icon}}.png">
    <div id="summoner_fact_div">
        <h1 id="summoner_name">{{summoner.summoner_name}}</h1><button id="refresh_button"><i style="font-size:20px;" class="fas fa-sync"></i></button><br><br>
        <h3 id="summoner_level">Lv {{summoner.level}} {{summoner.tier|default_if_none:'Unranked'}} {{summoner.rank|default_if_none:''}}</h3>
        <div id="summoner_badge">
            <span class="badge_bad">벌레</span>
            <span class="badge_soso">쓰레기</span>
        </div>
    </div>
    <div id="summoner_score">
        <span style="margin:0; font-size:20px;">소환사 평점</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>참여 : </span><span style="font-weight:bold;">{{score.count|default:0}}</span><br>
        <span id="score_display">
            {% if score.average == 5 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% elif score.average >= 4.5 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
            {% elif score.average >= 4 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 3.5 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
            {% elif score.average >= 3 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 2.5 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 2 %}
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 1.5 %}
                <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 1 %}
                <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% elif score.average >= 0.5 %}
                <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% else %}
                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            {% endif %}
        </span>
        <span id="score_digit">({{score.average|default:'0.0'}})</span><br><br>
        {% if score.already %}
        <p>이미 참여하셨습니다.</p>
        {% else %}
            <form id="score_form" style="margin:12px 0 0 0;">
                <select name="score" style="border:none; font-size:24px; height:30px;">
                    <option selected>☆☆☆☆☆</option>
                    <option>★☆☆☆☆</option>
                    <option>★★☆☆☆</option>
                    <option>★★★☆☆</option>
                    <option>★★★★☆</option>
                    <option>★★★★★</option>
                </select>
                <button id="score_button" type="submit"><span>평가하기</span></button>
            </form>
        {% endif %}

    </div>
</div>

<ul class="review_tab">
    <li id="champion_tab" class="deactivate">챔피언 리뷰</li>
    <li id="summoner_tab" class="deactivate">소환사 리뷰</li>
</ul>
<div id="result_import" class="summoner">
    <div id="chma">
        {% include 'search/result.html' %}
    </div>
    <div id="summ" style="display:none;">
        {% include 'search/review.html' %}
    </div>
</div>


<script>
$('#refresh_button').click(function(){
        alert('hi');
        $.ajax({
            type: "POST",
            url: "{% url 'result_refresh' %}",
            data: {'summoner_name':'{{summoner.summoner_name}}',
                   'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
            success: function (response) {
                location.reload();
            },
            error: function(){
                alert('잘못된 요청이에요.');
            },
        });
    });

    $("#score_form").submit(function(e) {
        score = $('select[name=score]').val();

        $.ajax({
            type: "POST",
            url: "{% url 'summoner_score' %}",
            data: {'score':score,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'summoner_id': '{{ summoner.id }}'
                  },
            success: function (response) {
                if (response.status == 'already'){
                    alert('이미 참여하셨습니다');
                }
                else {
                    location.reload();
                }
            },
            error: function(){
                alert('잘못된 요청이에요.');
            },
        });

        return false;
    });


    $('#summoner_tab.deactivate').on('click', function(){
            $('#chma').css('display', 'none');
            $('#summ').removeAttr('style');

            $('#champion_tab').addClass('deactivate')
            $('#champion_tab').removeClass('activate')

            $('#summoner_tab').addClass('activate')
            $('#summoner_tab').removeClass('deactivate')
    });

    $('#champion_tab.deactivate').on('click', function(){
            $('#summ').css('display', 'none');
            $('#chma').removeAttr('style');

            $('#champion_tab').addClass('activate')
            $('#champion_tab').removeClass('deactivate')

            $('#summoner_tab').addClass('deactivate')
            $('#summoner_tab').removeClass('activate')
    });
    $('#champion_tab.deactivate').click().trigger();

</script>

{% include 'main/footer.html' %}